<h1>{{title}}</h1>
<div class="w-50 center">
    <form id="poem-form" method="POST" action"">
      <input id="hidden-form" name="htmlBody" type="hidden">
      <div id="editor-container">
        <p>{{{originalBody}}}</p>
      </div>
      <button class="btn btn-primary" type="submit">submit poem</button>
    </form>
</div>
