<h1>{{title}}</h1>
<div class="w-50 center">
    <form id="poem-form" method="POST" action"">
      <input id="hidden-form" name="htmlBody" type="hidden">
      <div id="editor-container">
        <p>{{{originalBody}}}</p>
      </div>
      <button class="btn f6 link dim ba bw2 ph3 pv2 mt3 dib dark-green" type="submit">submit changes</button>
    </form>
</div>
