<!-- poem with most likes -->
<!-- poem with most comments -->
<!-- user with most poems -->
<!-- prompt with most poems -->
<!-- where all the higher order function comes into place -->
<article class="pa3 pa5-ns" data-name="slab-stat-large">
  <div class="cf">
    <dl class="db dib-l w-auto-l lh-title mr6-l">
      <dd class="f6 fw4 ml0">longest poem</dd>
      <dd class="f2 f-subheadline-l fw6 ml0">{{maxLength}} words</dd>
    </dl>
    <dl class="db dib-l w-auto-l lh-title mr6-l">
      <dd class="f6 fw4 ml0">user with most poems</dd>
      <dd class="f2 f-subheadline-l fw6 ml0">{{users_most_poem}}</dd>
    </dl>
    <dl class="db dib-l w-auto-l lh-title mr6-l">
      <dd class="f6 fw4 ml0">most popular prompt</dd>
      <dd class="f2 f-subheadline-l fw6 ml0">{{prompt_most_poem}}</dd>
    </dl>
  </div>

  <div class="f-5-l b bt pv3 mv4">congrats 🎉</div>   
  <img id="gif" src="" alt="random congratulatory image">
</article>
