<!-- user's name -->
<!-- user's poems -->
<!-- user's poems' stats -->

<article class="pa3 pa5-ns" data-name="slab-stat-large">
    <div class="cf">
      <dl class="db dib-l w-auto-l lh-title mr6-l">
        <dd class="f2 f-subheadline-l fw6 ml0">{{user.name}}</dd>
      </dl>

  <div class="cf">
    <dl class="db dib-l w-auto-l lh-title mr6-l">
      <dd class="f6 fw4 ml0">poems written</dd>
      <dd class="f2 f-subheadline-l fw6 ml0">{{user.total_poems}}</dd>
    </dl>
    <dl class="db dib-l w-auto-l lh-title mr6-l">
      <dd class="f6 fw4 ml0">total likes on all poems</dd>
      <dd class="f2 f-subheadline-l fw6 ml0">{{user.total_likes}}</dd>
    </dl>
  </div>
</article>

    <!-- display all poems written here and the prompts they are responding to -->
