<div class="w-50 center">
    <!-- <div class="form-group">
        <input name="poem" type="hidden">
        <div id="editor-container">
          <p>Hello World!</p>
          <p>Some initial <strong>bold</strong> text</p>
          <p><br></p>
        </div>
        <button class="submit-poem" type="submit">save</button>
    </div> -->
<form id="target" method="POST" action"/">
  <input id="hd" name="about" type="hidden">
  <div id="editor-container">
    <p>A robot who has developed sentience, and is the only robot of his kind shown to be still functioning on Earth.</p>
  </div>
  <button class="btn btn-primary" type="submit">Save Profile</button>
</form>
</div>
