<!DOCTYPE html>
<html>
  <head>
    <title>🌼 wallflower 🌸</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://npmcdn.com/draggabilly@2.1/dist/draggabilly.pkgd.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tachyons.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css' />
  </head>
  <body>
    <nav class="db dt-l w-100 border-box pa3 ph5-l">
      <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
        <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/" title="prompts">prompts</a>
        <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/stats" title="stats">stats</a>
        <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/" title="profile">profile</a>
      </div>
    </nav>

    {{{body}}}
  </body>
</html>
