<!DOCTYPE html>
<html>
  <head>
    <title>🌼 wallflower 🌸</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tachyons.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css' />
  </head>
  <body>
    <nav class="db dt-l w-100 border-box pa3 ph5-l">
      <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
        <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="#" title="Home">prompts</a>
        <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="#" title="Home">stats</a>
        <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="#" title="How it Works">profile</a>
      </div>
    </nav>

    {{{body}}}
  </body>
</html>
