<!-- poem with most likes -->
<!-- poem with most comments -->
<!-- user with most poems -->
<!-- prompt with most poems -->
<!-- where all the higher order function comes into place -->

<article class="pa3 pa5-ns" data-name="slab-stat-large">
  <div class="cf">
    <dl class="db dib-l w-auto-l lh-title mr6-l">
      <dd class="f6 fw4 ml0">most liked poem</dd>
      <dd class="f2 f-subheadline-l fw6 ml0">poem link</dd>
    </dl>
    <dl class="db dib-l w-auto-l lh-title mr6-l">
      <dd class="f6 fw4 ml0">most commented poem</dd>
      <dd class="f2 f-subheadline-l fw6 ml0">poem link?</dd>
    </dl>
    <dl class="db dib-l w-auto-l lh-title mr6-l">
      <dd class="f6 fw4 ml0">user with most poems</dd>
      <dd class="f2 f-subheadline-l fw6 ml0">username</dd>
    </dl>
    <dl class="db dib-l w-auto-l lh-title mr6-l">
      <dd class="f6 fw4 ml0">prompt with most poem</dd>
      <dd class="f2 f-subheadline-l fw6 ml0">prompt title</dd>
    </dl>
  </div>
</article>
